<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users', 'none')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>
        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}">Create new user</a>
        </div>
        
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        
        <div th:replace="fragments :: search_form('/users/page/1')"></div>
        
        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th th:replace="fragments :: column_link('/users', 'id', 'User ID')"/>
                        <th>Photos</th>
                        <th th:replace="fragments :: column_link('/users', 'email', 'Email')" />
                        </th>
                        <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name')"/>
                        <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name')"/>
                        <th>Roles</th>
                        <th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled')"/>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${listUsers}">
                        <td>[[${user.id}]]</td>
                        <td>
                        	<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        	<img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath}}"
                        		style="width: 100px">
                        </td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td>
                        	<div th:replace="fragments :: status(${user.enabled}, 'users', '/users/' + ${user.id})"></div>
                        </td>
                        <td>
                           <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                            &nbsp;
                            <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        </div>
        
         <div th:replace="fragments :: pagination('/users', 'users')"></div>
        
        <div th:replace="modal_fragments :: comfirm_modal"></div>
        
        <div th:replace="fragments :: footer"></div>
        
    </div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    $(document).ready(() => {
        $(".link-delete").on('click', function(e) {
            e.preventDefault()
            showDeleteConfirmation($(this), 'user')
        })
    })
    
    function clearFilter() {
        window.location = "[[@{/users}]]"
    }
</script>

</body>

</html>