<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>
        <div>
            <h2>Manage Categories</h2>
            <a th:href="@{/categories/new}">Create new category</a>
        </div>
        
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        
        <div>
            <form th:action="@{/categories/page/1}" class="form-inline m-3">
                <input type="hidden" name="sortField" th:value="${sortField}" >
                <input type="hidden" name="sortDir" th:value="${sortDir}" >
            
                Filter: &nbsp;
                <input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
                &nbsp;&nbsp;
                <input type="submit" value="Search" class="btn btn-primary">
                &nbsp;&nbsp;
                <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
            </form>
        </div>
        
        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th th:replace="fragments :: column_link('id', 'ID')"/>
                        <th>Category Image</th>
                        <th>
                            <a class="text-white" th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Category Name
                                <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span> 
                            </a>
                        </th>
                        <th th:replace="fragments :: column_link('alias', 'Alias')"/>
                        <th th:replace="fragments :: column_link('enabled', 'Enabled')"/>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${listCategories}">
                        <td>[[${category.id}]]</td>
                        <td>
                        	<img th:src="@{${category.imagePath}}">
                        </td>
                        <td>[[${category.name}]]</td>
                        <td>[[${category.alias}]]</td>
                        <td>
                        	<div th:replace="fragments :: category_status"></div>
                        </td>
                        <td>
                        	<div th:replace="fragments :: category_actions"></div>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        </div>
        
        <div th:replace="modal_fragments :: comfirm_modal"></div>
        
        <div th:replace="fragments :: footer"></div>
        
    </div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]"

    $(document).ready(() => {
        $(".link-delete").on('click', function(e) {
            e.preventDefault()
            showDeleteConfirmation($(this), 'category')
        })
    })
</script>

</body>

</html>