<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Products', 'none')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>
        <div>
            <h2>Manage Products</h2>
            <a th:href="@{/products/new}">Create new product</a>
        </div>
        
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        
        <div>
            <form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}" >
            <input type="hidden" name="sortDir" th:value="${sortDir}" >
            
            Category:&nbsp;
            <select class="form-control" name="categoryId" id="dropDownCategory">
                <option value="0">All categories</option>
                <th:block th:each="cat : ${listCategories}">
                    <option th:value="${cat.id}" th:selected="${categoryId} == ${cat.id}">[[${cat.name}]]</option>
                </th:block>
            </select>
        
            &nbsp;Filter: &nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary">
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
        </form>
        </div>
        
        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th th:replace="fragments :: column_link('/products', 'id', 'ID')"></th>
                        <th>Main Image</th>
                        <th th:replace="fragments :: column_link('/products', 'name', 'Product name')"></th>
                        <th th:replace="fragments :: column_link('/products', 'brand', 'Brand')"></th>
                        <th th:replace="fragments :: column_link('/products', 'category', 'Category')"></th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td>[[${product.id}]]</td>
                        <td>
                           <img th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid" >
                        </td>
                        <td>
                        	<a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}"
                        		title="View details of this product">
                        		[[${product.name}]]
                        	</a>
                        </td>
                        <td>[[${product.brand.name}]]</td>
                        <td>[[${product.category.name}]]</td>
                        <td>
                        	<div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
                        </td>
                        <td>
                        	<a class="fas fa-file-alt fa-2x icon-green link-detail"
                        		th:href="@{'/products/detail/' + ${product.id}}"
                        		title="View details of this product">
                        	</a>
                        	&nbsp;
                        	<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})"></div>
                        	&nbsp;
                            <div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)"></div>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        </div>
        
      	<div th:replace="fragments :: pagination('/products', 'products')"></div>
        
        <div th:replace="modal_fragments :: comfirm_modal"></div>
        
        <div class="modal fade" id="detailModal">
        	<div class="modal-dialog modal-xl">
        		<div class="modal-content">
        			
        		</div>
        	</div>
        </div>
        
        <div th:replace="fragments :: footer"></div>
        
    </div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]"

    $(document).ready(() => {
        $(".link-delete").on('click', function(e) {
            e.preventDefault()
            showDeleteConfirmation($(this), 'product')
        })
        
        $(".link-detail").on('click', function(e) {
        	e.preventDefault()
        	linkDetailURL = $(this).attr("href")
        	$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL)
        })
        
        $("#dropDownCategory").on("change", function() {
            $("#searchForm").submit()
        })
    })
    
    
</script>

</body>

</html>